@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	text-align: center;
	display: flex;
	width: 100vw;
	font-family: Rubik;
}

#game {
	max-width: 1000px;
	max-height: 800px;
	border: 1px solid grey;
	aspect-ratio: 1.25;
	margin: auto;
	border-radius: 4px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
	position: relative;
	transition: 0.25s;
	overflow: hidden;
}